{% extends "base.html" %}

{% block announce %}

{% set official_status = "draft" %}

{% set status_text = {
  "proposal": "Proposal: This is a newly proposed project that does not yet reflect broad community input",
  "draft": "Draft: This is a draft document that is subject to significant changes at any time",
  "preliminary": "Preliminary: This is a preliminary document and may experience changes prior to finalization",
  "recommended": "Recommended: This document has been recommended for balloting but is not yet approved",
  "ifr": "IFR: This is an approved Interim for Field Release (IFR) document",
  "approved": "Approved: This is an approved formal standard"
} %}

<p
  id="doc-status"
  class="status-badge {{ official_status }}"
  data-status="{{ official_status }}"
  data-official-url="{{ config.site_url }}"
>
  {{ status_text[official_status] }}
</p>

{% endblock %}


{% block outdated %}
You're not viewing the latest version.
<a href="{{ '../' ~ base_url }}">
    <strong>Click here to go to latest.</strong>
</a>
{% endblock %}